@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}
li {
    list-style: none;
}
body {
    color: #333;
    line-height: 1;
    padding-top: 100px;
    font-family: 'NanumSquare';
    font-weight: 400;
}

/* common 공통적으로 사용하는 것들 작성 */
.inner {
    width: 100%;
    padding: 0 2rem;
    margin: 0 auto;
}
section .title {
    margin-bottom: 40px;
}
section .title h3 {
    font-size: 50px;
}
section .title p {
    font-size: 20px;
}
/* header */
header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    color: #fff;
}
header .inner {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
header .inner h1 {
    font-size: 20px;
}
header .inner h1 a {}

header .inner nav {}
header .inner nav ul {
    display: flex;
    font-size: 16px;
    
}
header .inner nav ul li {
    margin-left: 65px;
    
}
header .inner nav ul li a {
    padding: 20px 10px;
    width: 100px;
}

nav:nth-of-type(2) {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 58);
}
i span {
    position: absolute;
    left: -9999999px;
}
.menu_close {
    font-size: 48px;
    display: block;
    width: 98.3%;
    margin-top: 1.4rem;
    cursor: pointer;
    text-align: right;
    line-height: 70px;
}


section {
    background-color: #fff;
}
/* .main_visual */
.main_visual {
    height: calc(100vh - 100px);
    position: relative;/* 이미지위에 글이 올라가기 위해서 반드시 이방법 써야함 */
}
.main_visual video {
    width: 100%;
    height: 90vh;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}

.main_visual .inner {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}
.main_visual .inner h2 {
    font-size: 70px;
    position: fixed;
    margin-top: 30px;
}
.main_visual .inner p {
    font-size: 25px;
    position: fixed;
}
.up {
    background-color: #fff;
    width: 100%;
    height: 1000px;
    z-index: 20;
}
.iam {
    width: 100%;
    padding: 0 2rem;
}
.iam h1 {
    padding-top: 200px;
    font-size: 100px;
}

/* swiper */
.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    height: 700px;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: space-between;
    -webkit-box-align: center;
    /* -ms-flex-align: center; */
    /* -webkit-align-items: center; */
    /* align-items: center; */
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


  .swiper-slide .text {
    width: 20%;
    height: 350px;
    text-align: left;
    position: absolute;
    left: 0;
  }

  .swiper-slide .text h3 {
    font-size: 28px;
  }

  .swiper-slide .text h5 {
    font-size: 18px;
    margin-top: 20px;
  }
  .swiper-slide .text h6 {
    font-size: 14px;
    margin-top: 10px;
  }
  .swiper-slide .vid {
    width: 80%;
    position: absolute;
    right: 0;
  }

/* left prev */
  .swiper-button-prev {
    opacity: 0;
  }
  .swiper-button-prev::after {
    opacity: 0;
    padding: 10px 50px;
    margin-top: 650px;
    
  }

   .arrow01 {
    width: 32px;
    height: 32px;
    position:absolute;
    margin-top: 670px;
    margin-right: 8px;
  }
  
  .arrow01::before,.arrow01::after {
    content: '';
    position: absolute;
}
 .arrow01::before {
    width: 100%;
    height: 100%;
    border: 2px solid #333;
    border-right: 0;
    border-bottom: 0;
}
  .arrow01::after {
    width: 70px;
    height: 2px;
    background: #333;
    transform-origin: 0 100%;
    transform: rotate(45deg);
}
   .arrow01--left {
    transform: rotate(-45deg);
}


/* right next */
  .swiper-button-next::after {
    opacity: 0;
    padding: 10px 50px;
    margin-top: 650px;
  }
  
   .arrow02 {
    width: 32px;
    height: 32px;
    position: relative;
    margin-top: 649px;
    margin-right: 8px;
  }
  
  .arrow02::before,.arrow02::after {
    content: '';
    position: absolute;
}
 .arrow02::before {
    width: 100%;
    height: 100%;
    border: 2px solid #333;
    border-right: 0;
    border-bottom: 0;
}
  .arrow02::after {
    width: 70px;
    height: 2px;
    background: #333;
    transform-origin: 0 100%;
    transform: rotate(45deg);
}
   .arrow02--right {
    transform: rotate(135deg);
}






   

/* .cont01 */
.cont01 {
    padding-top: 150px;
    height: 100vh;
    position: relative;
    
}
.cont01 .title h3 {
    font-size: 34px;
    font-family: 'NanumSquare';
    font-weight: 800;
}
/* .cont01 .title p {
    font-size: 20px;
    margin: 10px 0;
    font-family: 'NanumSquare';
    font-weight: 400;
} */

/* .cont03  웹사이트 */
.cont03 {
    /* width: calc(100%-300px);
    margin: 200px; */
    background-color: #eee;
    height: 100vh;
    /* padding: 200px 0; */
}
.cont03 .title {
    margin-bottom: 20px;
}
.cont03 .title h3 {
    padding-top: 150px;
    font-size: 34px;
    font-family: 'NanumSquare';
    font-weight: 800;
}
.cont03 .title p {
    font-size: 20px;
    margin: 10px 0;
    font-family: 'NanumSquare';
    font-weight: 400;
}
.cont03 .list {
    height: 70vh;
    display: flex;
    justify-content: space-between;
}
.cont03 .list .item {
    /* margin: 0 10px; */
    width: 50%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
/* .cont03 .list .item::before {
    content: '';
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);  
    transition: 0.5s;
} */
/* .cont03 .list .item:hover::before {
    bottom: 0;
} */
.cont03 .list .item:hover .info {
    background-color: transparent;
    color: white;
}
.cont03 .list .item:hover .info a {
    color: #eee;
}
.cont03 .list .item:nth-of-type(1) .mot img {
    width: 200%;
    height: 140%;
    object-fit: cover;
}
.cont03 .list .item:nth-of-type(1) .back img {
    width: 200%;
    height: 140%;
    object-fit: cover;
}


/* motion */
.cont03 .list .item:nth-of-type(1) .mot  {
    position: absolute;
    top: -80px;
    left: -400px;
    transition: 1s;
    z-index: 1;
    height: 100%;
    width: 100%;
}
.cont03 .list .item:nth-of-type(1) .back {
    position: absolute;
    top: -100px;
    left: -100px;
}
.cont03 .list .item:nth-of-type(1):hover .mot {
    top: -150px;
    left: -460px;
}
/* motion */
/* hover */
.cont03 .list .item:nth-of-type(2) img:nth-of-type(1) {
    position: relative
}
.cont03 .list .item:nth-of-type(2) img:nth-of-type(2) {
    opacity: 0;
    transition: 2s;
    position: absolute;
    top: 0;
    left: 0;
}
.cont03 .list .item:nth-of-type(2):hover img:nth-of-type(2) {
    opacity: 1;
    
}

.cont03 .list .item:nth-of-type(2):hover img:nth-of-type(1) {
    opacity: 0.5;
    
}

.cont03 .list .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cont03 .list .item .info {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    color: white;
    /* background-color: white; */
    padding: 50px;
    word-break: keep-all;
    /* word-break: keep-all; 단어별 줄바꿈 */
    /* transition: 0.5s; */
    z-index: 2;
}
.cont03 .list .item .info h4 {
    font-size: 30px;
    font-family: 'GmarketSans';
    font-weight: 700;
}
.cont03 .list .item .info p {
    margin: 7px 0 20px;
    line-height: 1.4;
    font-size: 16px;
    font-family: 'NanumSquare';
    font-weight: 400;
}
.cont03 .list .item .info .text {
    font-size: 18px;
    font-family: 'NanumSquare';
    font-weight: 400;
}
.cont03 .list .item .info .text li {
    margin: 5px 0;
}
.cont03 .list .item .info .btn {
    display: flex;
    margin-top: 40px;
}
.cont03 .list .item .info .btn li {
    margin-right: 10px;
    border: 2px solid #eee;
    border-radius: 40px;
}
.cont03 .list .item .info .btn li a {
    height: 45px;
    padding: 0 30px;
    display: block;
    line-height: 45px;
    font-size: 14px;
}
.cont03 .list .item .info .btn:hover li:nth-of-type(1) {
    background-color: #eee;
}
.cont03 .list .item .info .btn:hover li:nth-of-type(2) {
    background-color: #eee;
}
.cont03 .list .item .info .btn:nth-of-type(1):hover li a {
    color: #333;
}
.cont03 .list .item .info .btn:nth-of-type(2):hover li a {
    color: #333;
}

/* .cont04 */
.cont04 {
    color: #333;
/*     padding: 300px 0; */
height: 100vh;
}

.cont04 .title {
}
.cont04 .title h3 {
    padding-top: 150px;
    font-size: 34px;
    font-family: 'NanumSquare';
    font-weight: 800;
}
.cont04 .title p {
    font-size: 20px;
    margin: 10px 0;
    font-family: 'NanumSquare';
    font-weight: 400;
}
.cont04 .t h4 {
    width: 830px;
    font-size: 60px;
    font-family: 'Wavehaus 42';
    font-weight: 300;
}

.arrow {
    width: 32px;
    height: 32px;
    position: relative;
    margin-top: 15px;
    margin-right: 8px;
    /* margin-bottom: 30px; */
}
.arrow::before,.arrow::after {
    content: '';
    position: absolute;
}
.arrow::before {
    width: 100%;
    height: 100%;
    border: 2px solid #333;
    border-right: 0;
    border-bottom: 0;
}
.arrow::after {
    width: 70px;
    height: 2px;
    background: #333;
    transform-origin: 0 100%;
    transform: rotate(45deg);
}
.arrow--right {
    transform: rotate(135deg);
}
.cont04 .tool {
    display: flex;
    justify-content: space-between;
}
.cont04 .t {
    width: 100%;
    height: 80px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.cont04 .t::before {
    content: '';
    background-color: #fff;
    width: 870px;
    height: 80px;
    position: absolute;
    top: 70px;
    left: 0;
    z-index: 9;
}
.cont04 .t::after {
    content: '';
    background-color: #333;
    width: 870px;
    height: 2px;
    position: absolute;
    top: 70px;
    z-index: 10;
}
.cont04 img {
    width: 240px;
    height: 130px;
    object-fit: cover;
    position: absolute;
    top: 0;
    right: 100px;
    z-index: 11;
    opacity: 0;
    transition: 1s;
}
.cont04 a img {
    display: none;
}
.cont04 .t:nth-of-type(1):hover img:last-of-type {
    opacity: 1;
}
.cont04 .t:nth-of-type(2):hover img {
    opacity: 1;
}



 a[data-fancybox] img {
    cursor: zoom-in;
  }
  
  .fancybox__container {
    --carousel-button-bg: rgb(0 0 0 / 44%);
  
    --carousel-button-svg-width: 24px;
    --carousel-button-svg-height: 24px;
  
    --carousel-button-svg-stroke-width: 2.5;
    --carousel-button-svg-filter: none;
  }
  
  .fancybox__nav {
    --carousel-button-svg-width: 22px;
    --carousel-button-svg-height: 22px;
  
    --carousel-button-svg-stroke-width: 3;
  }
  
  .fancybox__nav .carousel__button.is-prev {
    left: 30px;
  }
  
  .fancybox__nav .carousel__button.is-next {
    right: 30px;
  }
  
  .carousel__button.is-close {
    top: 30px;
    right: 30px;
  }
  
  .fancybox__slide {
    padding: 0;
  }
  
  .fancybox__thumbs {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }
  
  .fancybox__thumbs .carousel__slide {
    padding: 20px 10px;
    overflow: visible;
  }
  
  .fancybox__thumb {
    border-radius: 6px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.3),
      0 2px 4px -1px rgba(0, 0, 0, 0.26);
  }
  
  .is-nav-selected .fancybox__thumb {
    transform: scale(1.25);
  }
  
  .is-nav-selected .fancybox__thumb::after {
    display: none;
  }

    .fancybox__toolbar__items--left {
    display: none;
  }
  .fancybox__button--zoom, .fancybox__button--slideshow , .fancybox__button--fullscreen , .fancybox__button--thumbs{
    display: none;
  }
  .fancybox__button--close {
    margin: 30px;
}




/* 프로필 */
.cont05 {
    height: 100%;
    padding-bottom: 100px;
}
.cont05 .inner {
    height: 100vh;
    padding-top: 150px;
}

.cont05 .inner .box {
    width: 1400px;
    height: 750px;
    background-color: #fff;
    box-shadow: 1px 3px 10px rgba(119, 119, 119, 0.5);
    margin: 0 auto;
    padding: 30px;
}

.cont05 .title {
    text-align: left;
}
.cont05 .title h3 {
    font-size: 34px;
    font-family: 'NanumSquare';
    font-weight: 800;
}
.cont05 .title p {
    font-size: 20px;
    margin: 10px 0;
    font-family: 'NanumSquare';
    font-weight: 400;
}
.cont05 .info {
    display: flex;
    justify-content: center;
    align-items: center;
}
.cont05 .info .info_img {
    width: 500px;
    height: 640px;
}
.cont05 .info .info_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cont05 .info .text {
    width: 1000px;
    padding-left: 100px;
}
.cont05 .info .text ul {
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    margin-bottom: 20px;
}
.cont05 .info .text ul li {
    line-height: 1.4;
}
.cont05 .info .text ul li strong {
    display: inline-block;
    width: 200px;
}

.cont05 .info .text .list {
    margin-top: 50px;
}
.cont05 .info .text .list li {
    height: 50px;
    line-height: 50px;
    padding: 0 30px;
    background-color: #ccc;
    border-radius: 40px;
    margin: 10px;
    font-size: 16px;
}
.cont05 .info .text .list .v {
    background-color: royalblue;
    color: #fff;
}
.cont05 .info .text .list .w {
    background-color: #555;
    color: #fff;
}


/* footer */
footer {
    padding: 70px 0;
    background-color: #333;
    color: #fff;
    text-align: center;
}
footer ul {
    margin-bottom: 50px;
    width: 200px;
    margin: 30px auto;
}
footer ul li {
    height: 50px;
    line-height: 50px;
    background-color: #fff;
    color: #333;
    margin: 10px auto;
    border-radius: 40px;
}
footer ul li:hover {
    background-color: #777;
    color: #fff;
    font-weight: bolder;
}
footer ul li a {
    display: block;
}
footer p {
    margin-bottom: 10px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
    line-height: 1.4;
}

